<div class="otp-modal-container">
  <div class="otp-content">
    <h2>Enter OTP</h2>
    <p>Please enter the 6-digit code sent to {{ data.phoneNumber }}<br>
      This window will close in {{ countdown }} seconds.</p>

    <form [formGroup]="otpForm" (ngSubmit)="onVerify()">
      <div formArrayName="digits" class="otp-input-group">
        <input
          *ngFor="let control of digits.controls; let i = index"
          type="tel"
          maxlength="1"
          [formControlName]="i"
        (keydown)="handleKeyDown($event, i)"
        (input)="handleInput($event, i)"
        class="otp-input"
        autocomplete="one-time-code">
      </div>

      <div *ngIf="verificationError" class="error">
        {{ verificationError }}
      </div>

      <button mat-flat-button
              color="primary"
              type="submit"
              [disabled]="otpForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Verifying...' : 'Verify' }}
      </button>
    </form>
  </div>
</div>
