<div class="workout-card" (click)="navigateToDetails()">
  
  <!-- Progress Bar -->
  <div class="progress-bar-container">
    <div 
      class="progress-bar-fill" 
      [style.width.%]="program.completionPercentage">
    </div>
  </div>

  <div class="card-content" [style.background-color]="'#D3D3D3'">
    <div class="card-info">
      <div class="difficulty">
        <span class="icon lightning">&#9889;</span>
        <span class="level-text"> {{ program.status | titlecase }}</span>
        <span class="icon info">&#9432;</span>
      </div>
      
      <h2 class="title">{{ program.name }}</h2>
      <p class="days-left">
        {{ daysLeft }} days left
        <span class="completion">({{ program.completionPercentage }}% completed)</span>
      </p>
    </div>

    <div class="card-image">
      <img 
        [src]="program.programImage || 'assets/default-workout.png'" 
        alt="Workout illustration"
        (error)="onImageError($event)"
      >
    </div>
  </div>
</div>
