.full-width-table {
  width: 100%;
}

.container {
  padding: 20px;
}

.badge {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.patient-link {
  color: #3f51b5;  // Material primary color
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
