spring:
  application:
    name: user-service

  data:
    mongodb:
      uri: mongodb://mongodb:27017/userdb  # Use this when running in Docker

  mail:
    host: smtp.gmail.com
    port: 587
    username: aziz88303@gmail.com
    password: raaufypwkwoqerca  # App password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jwt:
    secret: ${JWT_SECRET:mysecretkeymysecretkeymysecretkey!}

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

twilio:
  account_sid: ACcd31372ca9e785d6a1d9015aa7bab5b9
  auth_token: 9101629a5e87ecb0e817f1b365c851a3
  phone_number: "+15674065065"

security:
  oauth2:
    client:
      registration:
        google:
          client-id: 514678328805-t37tceg3kfq3q5vjr56gnv689dn74rmm.apps.googleusercontent.com
          client-secret: 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
          scope:
            - profile
            - email
          redirect-uri: "{baseUrl}/oauth2/callback/google"

        facebook:
          client-id: YOUR_FB_CLIENT_ID
          client-secret: YOUR_FB_CLIENT_SECRET
          scope:
            - public_profile
            - email
          redirect-uri: "{baseUrl}/oauth2/callback/facebook"

      provider:
        facebook:
          authorization-uri: https://www.facebook.com/v11.0/dialog/oauth
          token-uri: https://graph.facebook.com/v11.0/oauth/access_token
          user-info-uri: https://graph.facebook.com/me?fields=id,name,email,picture
