<div class="container mt-4">
  <h2>Paramedical Care Dashboard</h2>
  <div class="list-group mt-4">
    <a class="list-group-item list-group-item-action" routerLink="/user/userProfile/paramedical-care/professional-list">
      Manage Professionals
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/user/userProfile/paramedical-care/appointment">
      Appointments
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/user/userProfile/paramedical-care/nearby-professionals">
      Find Nearby Professionals
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/user/userProfile/paramedical-care/paramedical-map">
      Paramedical Map
    </a>
  </div>
</div>
